body{
    font-family: 'Coda', cursive;
    background-image: url(http://www.obj.ca/media/photos/unis/2011/08/18/2011-08-18-09-09-00-105614532.jpg)
}

#loader{
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.6);
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 1rem;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.8);
}

.center{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.center ul{
    list-style: none;
    padding: 0;
}

.hidden{
    display: none;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: #fff;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

.axis line, .axis path {
  fill: none;
  stroke: #000;
}

/*tooltip*/
.tooltip {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 5px #999;
    color: #333;
    display: none;
    font-size: 12px;
    border-radius: 7px;
    left: 130px;
    padding: 10px;
    position: absolute;
    top: 95px;
    width: auto;
    z-index: 10;
}

.tooltip .label {
    text-decoration: underline;
    font-weight: bold;
}

.tooltip .rate ul {
    list-style: none;
    font-weight: 100;
    padding-left: 0;
}

.tooltip .rate ul li {
    padding-left: 0;
    margin-left: 0;
}

/*parallel*/
svg {
    font-size: 0.8rem;
}

.fg path {
    fill: none;
    stroke: blue;
}

.bg path {
    fill: none;
    stroke: grey;
}

.brush .extent {
    fill-opacity: .3;
    stroke: #ACDBBB;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
}